synapse/lgr_child_pipeline.json
{
  "name": "spark_az_child_pipeline",
  "properties": {
    "description": "Default pipeline showing the two-way notebook<->pipeline contract. The child notebook %runs lgr_child and ends with notebook_exit(...), which JSON-encodes a structured result into the activity exitValue. This pipeline passes parameters IN (pipeline_run_id / pipeline_name / log_table) and reads structured fields back OUT via @json(activity('run_child').output.status.Output.result.exitValue).<field>. pipeline_run_id flows through as @pipeline().RunId so the child's self-logged Delta row joins the orchestrator's runlog table. Import into Synapse Studio, set run_child.referenceName to your child notebook, then publish.",
    "variables": {
      "child_status": {
        "type": "String"
      },
      "child_target": {
        "type": "String"
      }
    },
    "activities": [
      {
        "name": "run_child",
        "type": "SynapseNotebook",
        "dependsOn": [],
        "policy": {
          "timeout": "1.00:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureOutput": false,
          "secureInput": false
        },
        "userProperties": [],
        "typeProperties": {
          "notebook": {
            "referenceName": "your_child_notebook",
            "type": "NotebookReference"
          },
          "parameters": {
            "pipeline_run_id": {
              "value": {
                "value": "@pipeline().RunId",
                "type": "Expression"
              },
              "type": "string"
            },
            "pipeline_name": {
              "value": {
                "value": "@pipeline().Pipeline",
                "type": "Expression"
              },
              "type": "string"
            },
            "log_table": {
              "value": "_meta.__pipeline_runlog",
              "type": "string"
            }
          }
        }
      },
      {
        "name": "capture_child_status",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "run_child",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "variableName": "child_status",
          "value": {
            "value": "@string(json(activity('run_child').output.status.Output.result.exitValue).status)",
            "type": "Expression"
          }
        }
      },
      {
        "name": "capture_child_target",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "run_child",
            "dependencyConditions": ["Succeeded"]
          }
        ],
        "userProperties": [],
        "typeProperties": {
          "variableName": "child_target",
          "value": {
            "value": "@string(json(activity('run_child').output.status.Output.result.exitValue).target)",
            "type": "Expression"
          }
        }
      }
    ],
    "annotations": ["spark_az", "lgr_child"]
  }
}
